{% extends 'base.html' %}
{% block content %}

{% if not data %}
<div class="container">
    <h1 class="text-center">No records found</h1>
</div>
{% else %}
<table class="table table-striped table-bordered table-responsive">
    <thead class="thead-dark">
        <tr>
            <th>Roll Number</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Date of Birth</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>

{% for i in data %}
        <tr>
            <td> {{i.roll}}  </td>
            <td> {{i.fname}} </td>
            <td> {{i.lname}} </td>
            <td> {{i.email}} </td>
            <td> {{i.phone}} </td>
            <td> {{i.dob}} </td>
            <td> <a href="{% url 'delete' i.roll %}" style="color: black"><i class="fas fa-trash"></i></a></td>
        </tr>
{% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}